<p>
    {{quote.myquote}}</p>
    <p>{{quote.author}}<p>
    <p>due on {{quote.completeDate|date|uppercase}}
    </p>
    <p>This goal will be complete in {{quote.completeDate|dateCount}} days</p>
    
    <!-- <button (click)= 'quoteComplete(true)'>Complete</button> -->
    <!-- <button (click)= 'quoteDelete(true)'>Delete quote</button> -->
    <button (click)= 'quoteDelete(true)' class="btn btn-outline-danger">Delete quote</button>
    <!-- <button (click)= 'quoteLikeClick()' class="btn btn-outline-success">Like</button> 
    {{numberOfLikes}}
    <button (click)= 'quoteDislikeClick()' class="btn btn-outline-primary">Dislike</button> 
    {{numberOfDislikes}} -->
    <div class="vote">
            <div class="vote-btn-like hover" (click)="likeButtonClick()"></div>
            <h5>{{ numberOfLikes }}</h5>
            <div
              class="vote-btn-dislike hover"
              id="one"
              (click)="dislikeButtonClick()"
            ></div>
            <h5>{{ numberOfDislikes }}</h5>
          </div>
         